<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EduRAG</title>
    <link rel="icon" href="~/favicon.svg" type="image/svg+xml" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/tabler.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/tabler-vendors.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/edurag-theme.css" asp-append-version="true" />
</head>
<body class="edurag-body d-flex flex-column">
    <div class="page page-center">
        <div class="container container-tight py-4 py-md-5">
            @RenderBody()
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/tabler.min.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
